body{
	padding: 0;
	margin: 0;
	/* background-image: url(../img/兔子.gif); */
	background-size: 50%;
}
body::-webkit-scrollbar{
	/* 隐藏滚动条*/
	/* display: none; */
}
#bg{
	position: absolute;
	margin: 0;
	padding: 0;
	/* 1920*1080 */
	background-image: url(../img/背景.png);
	background-size: 100%;
	background-repeat: no-repeat;
	 /* 居中 */
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	/*大小*/
	min-width: 600px;
	min-height: 336px;
	
}
input{
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	border-radius: 50px;
	border: none;
	background-color:rgb(0,0,0,0);
}
input:hover{
	border: #DEFAFA 1px solid;
}
#close{
	background-image: url(../img/button/关闭.png);
	width: 16px;
	height: 16px;
	left: 568px;
	top: -7px;
}
#tenTimes{
	background-image: url(../img/button/祈愿10次.png);
	width: 110px;
	height: 28px;
	left: 452px;
	top: 302.5px;
}
#once{
	background-image: url(../img/button/祈愿1次.png);
	width: 110px;
	height: 28px;
	left: 221px;
	top: 302.5px;
}
#mySelf{
	background-image: url(../img/button/兑换.png);
	width: 56px;
	height: 17px;
	top: 300.5px;
	left: -231px;
}
#details{
	background-image: url(../img/button/详情.png);
	width: 56px;
	height: 17px;
	top: 300.5px;
	left: -231px;
}
#record{
	background-image: url(../img/button/历史记录.png);
	width: 56px;
	height: 17px;
	top: 300.5px;
	left: -231px;
}
#left{
	background-image: url(../img/button/左.png);
	width: 13px;
	height: 16px;
	top:160px;
	left: -413px;
}
#right{
	background-image: url(../img/button/右.png);
	width: 13px;
	height: 16px;
	top:160px;
	left: 118px;
}
#card{
	position: absolute;
	width: 408px;
	height: 204px;
	left: 50%;
	top: 51%;
	transform: translate(-50%,-50%);
	background-size: 100%;
	background-repeat:no-repeat ;
	background-image: url();
	border-radius: 3px;
}
#videoDiv{
	position: absolute;
	width: 600px;
	height: 336px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
	background-color: none;
	z-index: 3;
}
#video{
	width: 100%;
	height: 100%;
}
#outVideo{
	position: absolute;
	left: 555px;
	top: 10px;
	color: #c6c6c6;
	font-weight: 600;
	display: none;
}
#outVideo:hover{
	color: #00FFFF;
	border: none;
}
#headList{
	position: relative;
	width:200px;
	top: -30px;
	left: 50%;
	transform: translate(-50%,0);
	overflow:;
}
#headList li{
	list-style-position: inside;
	list-style-type: none;
	background-image: url(../img/未选中.png);
	background-size: 100%;
	background-repeat:no-repeat;
	background-color:rgb(0,0,0,0);
	float: left;
	width: 49px;
	height: 19px;
	margin: 0 6px;
	transform: translate(-17px,0);
}
#headList li:hover{
	transition: 200ms;
	width: 55px;
	height: 21px;
	margin: 0 3px;
	transform: translate(-17px,-1px);
}
#editionDiv{
	position: absolute;
	background-size: 50%;
	background-repeat: no-repeat;
	width: 120px;
	height: 60px;
	border-right: 3px solid #d3bc8d;
	border-bottom: 3px solid #d3bc8d;
	border-radius:0 0 60px 0;
	overflow: hidden;
	z-index:0;
}
#editionDiv h2{
	margin-left: 55px;
	margin-top: 12px;
	float: left;
}
#editionDiv h4{
	margin-left: 55px;
	margin-top: 12px;
	float: left;
}
#editionDiv:hover{
	transition: 500ms;
	background-size: 37%;
	width: 220px;
	height: 88px;
}
#editionDiv_p{
	float: left;
	display: none;
}
#editionDiv:hover #editionDiv_p{
	display: block;
}
#editionList{
	display: block;
	text-align: center;
	position: relative;
	clear: left;
	width: 180px;
	margin: 10px;
	border: none;
	border-top:3px solid #D3BC8D;
	border-radius:0 0 50px;
}
#results{
	position: absolute;
	margin: 0;
	padding: 0;
	/* 1920*1080 */
	background-image: url(../img/smallCardBg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	 /* 居中 */
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	/*大小*/
	width: 600px;
	height: 336px;
	display: none;
	z-index: 2;
}
#smallCardList{
	position: relative;
	list-style-position: inside;
	list-style-type: none;
	top:-34px;
	left: 11px;
}
#smallCardList li{
	float: left;
	width: 50px;
	height: 333px;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
#smallCardList li img{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 46px;
}
#closeSmallCard{
	background-image: url(../img/button/关闭.png);
	width: 16px;
	height: 16px;
	left: 568px;
	top: 10px;
}
#historysDiv{
	position: absolute;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	background-color: #FFFAE8;
	 /* 居中 */
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	/*大小*/
	width: 600px;
	height: 336px;
	display: none;
}
#historysHeader{
	width: 100%;
	height: 40px;
	background-color: white;
	border-bottom: 1px solid black;
}
#historysBack{
	border:1px solid #ffc3af;
	color: #ffa05c;
	width: 80px;
	height: 30px;
	float: left;
	position: relative;
	top: 50%;
	left: 20px;
	transform: translate(0,-50%);
}
#historysBack:hover{
	transition: 0.5s;
	color: white;
	background-color: lightgreen;
}
#clearHistorys{
	border:1px solid #ffc3af;
	color: #ffa05c;
	width: 80px;
	height: 30px;
	float: right;
	position: relative;
	top: 50%;
	right: 20px;
	transform: translate(0,-50%);
}
#clearHistorys:hover{
	transition: 0.5s;
	color: white;
	background-color: red;
}
#historysTableDiv{
	position: relative;
	overflow-y: scroll;
	border: 1px solid black;
	width: 80%;
	height: 288px;
	 /* 居中 */
	left: 50%;
	top: 2px;
	transform: translate(-50%,0);
}
#historysTable{
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: white;
}
#historysTable td{
	border: 1px solid cadetblue;
	height: 20px;
	height: 20px;
}
#historysTable td:hover{
	border-bottom: 3px solid cadetblue;
}
@media screen and (min-width:940px) and (min-height:526px) {
	#bg{
		width: 940px;
		height: 526px;
	}
	#close{
		width: 24px;
		height: 24px;
		left: 890px;
		top: -5px;
	}
	#tenTimes{
		width: 170px;
		height: 40px;
		left: 714px;
		top: 473.5px;
	}
	#once{
		width: 170px;
		height: 40px;
		left: 357px;
		top: 473.5px;
	}
	#mySelf{
		width: 90px;
		height: 27px;
		top: 475px;
		left: -348px;
	}
	#details{
		width: 90px;
		height: 27px;
		top: 475px;
		left: -348px;
	}
	#record{
		width: 90px;
		height: 27px;
		top: 475px;
		left: -348px;
	}
	#left{
		width: 17px;
		height: 21px;
		top:231px;
		left: -630px;
	}
	#right{
		width: 17px;
		height: 21px;
		top:231px;
		left: 210px;
	}
	#card{
		width: 640px;
		height: 316px;
	}
	#videoDiv{
		min-width: 940px;
		min-height: 526px;
	}
	#outVideo{
		left: 880px;
		top: 15px;
		font-weight: 900;
	}
	#results{
		width: 940px;
		height: 526px;
	}
	#closeSmallCard{
		width: 25px;
		height: 25px;
		left: 900px;
		top: 10px;
	}
	#smallCardList{
		top:-30px;
		left: 55px;
	}
	#smallCardList li{
		width: 75px;
		height: 494px;
	}
	#smallCardList li img{
		width: 65px;
	}
	#historysDiv{
		width: 940px;
		height: 526px;
	}
	#historysTableDiv{
		height: 478px;
	}
}
@media screen and (min-width:1250px) and (min-height:700px) {
	#bg{
		min-width: 1250px;
		min-height: 700px;
	}
	#close{
		background-image: url(../img/button/关闭.png);
		width: 31px;
		height: 31px;
		left: 1183px;
		top: -9px;
	}
	#tenTimes{
		background-image: url(../img/button/祈愿10次.png);
		width: 230px;
		height:56px;
		left: 949px;
		top: 629px;
	}
	#once{
		background-image: url(../img/button/祈愿1次.png);
		width: 230px;
		height:56px;
		left: 470px;
		top: 629px;
	}
	#mySelf{
		background-image: url(../img/button/兑换.png);
		width: 118px;
		height: 33px;
		top: 626px;
		left: -466px;
	}
	#details{
		background-image: url(../img/button/详情.png);
		width: 118px;
		height: 33px;
		top: 626px;
		left: -464px;
	}
	#record{
		background-image: url(../img/button/历史记录.png);
		width: 118px;
		height: 33px;
		top: 626px;
		left: -462px;
	}
	#left{
		background-image: url(../img/button/左.png);
		width: 25px;
		height: 32px;
		top:310px;
		left: -829px;
	}
	#right{
		background-image: url(../img/button/右.png);
		width: 25px;
		height: 32px;
		top:310px;
		left: 290px;
	}
	#card{
		width: 860px;
		height: 424px;
	}
	#videoDiv{
		min-width: 1250px;
		min-height: 700px;
	}
	#outVideo{
		left: 1190px;
		top: 20px;
		font-weight: 900;
	}
	#results{
		width: 1250px;
		height: 700px;
	}
	#closeSmallCard{
		width: 33px;
		height: 33px;
		left: 1190px;
		top: 20px;
	}
	#smallCardList{
		top:-30px;
		left: 100px;
	}
	#smallCardList li{
		width: 98px;
		height: 665px;
	}
	#smallCardList li img{
		width: 80px;
	}
	#historysDiv{
		width: 1250px;
		height: 700px;
	}
	#historysTableDiv{
		height: 650px;
	}
}
